<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <form action="/ta03" method="POST">
          <label for="search">Search: </label>
          <input type="text" name="search" id="search">
          <button class='btn' type='submit'>Search</button>
        </form>
      </div>
    </div>
    <div class="product-container">
        <% for (let product of products){ %>
            <div class="product">
              <img src="<%= product.imageUrl %>">
              <h2><%= product.name %></h2>
              <h3><%= product.price %></h3>
              <p><%= product.description %></p>
            </div>
        <% } %>
    </div>


</body>

</html>